:root{
    --color1:#ffb624;
    --color2:#F6E5DF;
    --color3:#5c3e35;
    --color4:#ffffff;
}
.body {
    background-color: var(--color2);
}
.body::-webkit-scrollbar{
    display: none;
}
header{
    background-color:var(--color1);
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.nav-pills{
    height: 40px!important;
    margin-top: 1%;
    font-size: larger;
}
.nav-item:hover{
    transform: scale(1.1);
}
.nav-item>a:hover{
    color: var(--color3);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
background-color: var(--color3)!important;
}
.bold{
    font-weight: bold;
}
.nav-item{
    font-size: clamp(13px,2.5vw,25px)!important;
}
.nav-item>a{
    color: var(--color3);
}
#carouselExampleCaptions{
    margin-left: 5%!important;
    margin-right: 5%!important;
}
.box{
    background-color: var(--color3);
    margin: 2% 5%!important;
    width:auto;
    height: auto;
    border-radius: 30px;
    padding: 3%;
}
#mdp{
    color: var(--color3);
}

footer{
    background-color: var(--color1);
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    font-weight: bold;
    padding-bottom: 0.5rem!important;
}
.row{
    --bs-gutter-y:3%!important;
    --bs-gutter-x:3%!important;
}
.btn-outline-primary{
    --bs-btn-border-color: var(--color3)!important;
    border-width: 0.2rem!important;
    color: var(--color3)!important;
    font-weight: bold!important;
    margin-top: 1rem!important;
}
.btn-outline-primary:hover{
    background-color: var(--color3)!important;
    color: var(--color4)!important;
    border-color: var(--color1)!important;
}
.card-header{
    background-color: var(--color1)!important;
}
.card-header>h4{
    font-weight: bold!important;
    color: var(--color3)!important;
}
.card{
    background-color: var(--color2)!important;
}
.imgs{
    border-radius: 10px!important;
}